

setka-float()
    .clearfix
        clearfix()

    for $breakpoint in keys($grid-breakpoints)
        +media-up($breakpoint)
            $infix = breakpoint-infix($breakpoint, $grid-breakpoints)

            .float{$infix}-none   { float: none !important; }
            .float{$infix}-left   { float: left !important; }
            .float{$infix}-right  { float: right !important; }
