@import '_vars.styl'
@import '_grid.styl'
@import '_breakpoints.styl'
@import '_grid-framework.styl'
@import '_flex.styl'
@import '_sizing.styl'
@import '_spacing.styl'
@require '_styles.styl'
@import '_utilities.styl'
@import '_display.styl'
@import '_align.styl'
@import '_float.styl'
@import '_visibility.styl'
@import '_text.styl'

// Generated library styles
// $options: {
//   grid 
//   flex
//   sizing
//   spacing
// }
setka($options = {grid: true, flex: true, sizing: true, spacing: true})
  make-base-styles()
  make-debug-styles()
  make-display()
  make-float()
  make-visibility()
  make-align()
  make-text()

  if $options.spacing or $options.sizing
    make-base-font()

  if $options.grid
    make-grid()

  if $options.flex
    make-flex()

  if $options.sizing
    make-sizing()

  if $options.spacing
    make-spacing()
