@import '_vars.styl'
@import '_grid.styl'
@import '_breakpoints.styl'
@import '_grid-framework.styl'
@import '_flex.styl'
@import '_sizing.styl'
@import '_spacing.styl'
@require '_styles.styl'
@import '_display.styl'
@import '_align.styl'
@import '_float.styl'
@import '_visibility.styl'
@import '_text.styl'
@import '_debug.styl'  

// Generated library styles
setka()
    setka-base-styles()
    setka-debug()
    setka-grid()
    setka-display()
    setka-float()
    setka-flex()
    setka-sizing()
    setka-spacing()
    setka-align()
    setka-text()
    setka-visibility()
