
html, .root
  font-size: $root.fontSize
  line-height: $root.lineHeight

body, .article
  font-size: 1rem
  line-height: $root.lineHeight

h1
  font-size: 2.75rem
  line-height: gu(4)
  margin-top: gu(4)
  margin-bottom: gu(4)

h2
  font-size: 2.1rem
  line-height: gu(3)
  margin-top: gu(3)
  margin-bottom: gu(3)

h3
  font-size: 1.6rem
  line-height: gu(3)
  margin-top: gu(2)
  margin-bottom: gu(2)

h4
  font-size: 1.2rem
  line-height: gu(2)
  margin-top: gu(2)
  margin-bottom: gu(2)

h5
  font-size: 1rem
  line-height: gu(2)
  margin-top: gu(2)
  margin-bottom: gu(2)

p, ul, ol, pre, table, blockquote
  margin-top: gu(2)
  margin-bottom: gu(2)

ul ul, ol ol, ul ol, ol ul
  margin-top: 0
  margin-bottom: 0
