
html, .root
  font-size: $root.fontSize * ($root.lineHeight / $base-lines-count)

body, .article
  font-size: $root.fontSize
  line-height: $root.lineHeight

h1
  font-size: 55px
  line-height: 4rem
  margin-top: 4rem
  margin-bottom: 4rem

h2
  font-size: 42px
  line-height: gu(3)
  margin-top: gu(3)
  margin-bottom: gu(3)

h3
  font-size: 32px
  line-height: gu(3)
  margin-top: gu(2)
  margin-bottom: gu(2)

h4
  font-size: 24px
  line-height: gu(2)
  margin-top: gu(2)
  margin-bottom: gu(2)

h5
  font-size: 20px
  line-height: gu(2)
  margin-top: gu(2)
  margin-bottom: gu(2)

p, ul, ol, pre, table, blockquote
  margin-top: gu(2)
  margin-bottom: gu(2)

ul ul, ol ol, ul ol, ol ul
  margin-top: 0
  margin-bottom: 0
