
// Helper for responsive styles
// Example:
// .element
//   +above('sm')
//     margin: 10px
above($breakpoint, $breakpoints = $grid-breakpoints)
  $min = breakpoint-min($breakpoint, $grid-breakpoints)
  if not $min
    error('There is no "' + $breakpoint + '" breakpoint!')
  else
    @media (min-width: $min) {
      {block}
    }