
// Helper for responsive styles
// Example:
// .element
//   +media-up('sm')
//     margin: 10px
media-up = media-breakpoint-up
media-down = media-breakpoint-down
media-between = media-breakpoint-between
media-only = media-breakpoint-only