
// Make base styles for grid
make-base-styles()

  * {
    box-sizing: border-box
  }

  :root
    --font-size: 16px
    --line-height: (20 / 16)rem
    --grid-unit-lines: $grid-unit-lines
    --grid-unit: calc(var(--line-height) / var(--grid-unit-lines))
    --grid-gutter-width: $grid-gutter-width
    // Generate container sizes variables
    for _name, _size in $container-max-widths
      {('--container-' + _name)}: _size
  

// Make base font styles for vertical rythm
make-base-font()

  html
    font-size: var(--font-size)

  body
    font-size: 1rem;
    line-height: var(--line-height);


make-debug-styles()

  // Show grid columns
  .show-cols
    background-image: linear-gradient(to right,
      rgba(255,0,0,0) 0,
      rgba(255,0,0,0) var(--grid-gutter-width),
      rgba(255,0,0,0.15) var(--grid-gutter-width)
    )
    background-repeat: repeat-x
    background-size: (100% / $grid-columns) 100%
    background-position: calc(var(--grid-gutter-width) / 2 * -1)

  // Show baseline grid in background
  .show-grid-bg
    background-image: linear-gradient(to bottom, #0ff 0, rgba(255,255,255,0) 1px)
    background-repeat: repeat-y
    background-size: 100% gu(1)

  // Show baseline grid as overlay
  .show-grid
    position: relative
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 9999
      pointer-events: none
      background-image: linear-gradient(to bottom, #0ff 0, rgba(255,255,255,0) 1px)
      background-repeat: repeat-y
      background-size: 100% gu(1)