
/*
* > Grid
*/
if not lookup('$grid-columns')
  $grid-columns = 12

if not lookup('$grid-gutter-width')
  $grid-gutter-width = 30px

if not lookup('$grid-breakpoints')
  $grid-breakpoints = {
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
  }

if not lookup('$container-max-widths')
  $container-max-widths = {
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
  }


/*
* > Sizes
*/
if not lookup('$sizes')
  $sizes = {
    '25': 25%,
    '50': 50%,
    '75': 75%,
    '100': 100%,
    auto: auto
  }


/*
* > Typography and Vertical rythm
*/
if not lookup('$grid-unit-lines')
  $grid-unit-lines = 2

gu($unit = 1)
  return s('calc(var(--grid-unit) * %s)', $unit)


/*
* > Spacers
*/
if not lookup('$spacers')
  $spacers = {
    '0': 0,
    '01':   gu(1),
    '1':    gu(s('var(--grid-unit-lines) * 1')),
    '2':    gu(s('var(--grid-unit-lines) * 2')),
    '3':    gu(s('var(--grid-unit-lines) * 3')),
    '4':    gu(s('var(--grid-unit-lines) * 4')),
    'auto': s('auto')
  }


/*
* > Debugging
*/
if not lookup('$show-grid')
  $show-grid = false
