@import '_vars.styl'
@import '_grid.styl'
@import '_breakpoints.styl'
@import '_grid-framework.styl'
@import '_flex.styl'
@import '_sizing.styl'
@import '_spacing.styl'
@import '_responsive.styl'
@require '_styles.styl'

// Generated library styles
// $options: {
//   grid 
//   flex
//   sizing
//   spacing
// }
invisible($options)
  make-base-styles()

  if $options.spacing or $options.sizing
    make-base-font()

  if $options.grid
    make-grid()

  if $options.flex
    make-flex()

  if $options.sizing
    make-sizing()

  if $options.spacing
    make-spacing()
