@import '_vars.styl'
@import '_grid.styl'
@import '_breakpoints.styl'
@import '_grid-framework.styl'
@import '_flex.styl'
@import '_sizing.styl'
@import '_spacing.styl'
@import '_responsive.styl'


* {
  box-sizing: border-box
}

.container
  make-container()
  make-container-max-widths()
  if $show-grid
    background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px)
    background-repeat: repeat-y
    background-size: 100% gu(1)

.container-fluid
  make-container()

// Row
//
// Rows contain and clear the floats of your columns.
.row
  make-row()

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters
  margin-right: 0
  margin-left: 0
  > .col,
  > [class*="col-"]
    padding-right: 0
    padding-left: 0


// Columns
//
// Common styles for small and large grid columns
make-grid-columns()
